<p [ngClass]="estilo">comp-atributos works!</p>

<button (click)="mudaCor()"> Mudar Cor </button>
<ng-content select="h2"></ng-content>

<h1 [ngStyle]="{'background' : corfundo}">CURSO DE ANGULAR </h1>


<h1>Lista de Compras</h1>
<p>Adicionar Item</p>
<input  type="text" [(ngModel)]="item" style="color : #222">

<button (click)="adicionarLista()">ADICIONAR LISTA</button>

<hr>
<ul >
  <li *ngFor="let elemento of lista">{{ elemento }}</li>
</ul>

<p>{{item}}</p>

<hr>
<ng-template [ngIf]=" true">
  <a href="#">FINALIZAR COMPRA</a>
</ng-template>
<br>
<ng-template  [ngIf]=" true">
    <a href="#">Add To Cart</a>
</ng-template>

<hr>

